{% if model.isStravaIsAuthenticated %}
<h2>
    <img src="{{ model.stravaAthlete.profileImg }}" alt="" />
    {{ model.stravaAthlete.firstName ~ ' ' ~ model.stravaAthlete.lastName }}
</h2>
<ul>
    <li>{{ model.stravaAthlete.city }}</li>
    <li>{{ model.stravaAthlete.state }}</li>
    <li>{{ model.stravaAthlete.country }}</li>
</ul>

<ul>
    {% for activity in model.stravaAthlete.activities %}
        <li>
            <h4>{{ activity.name }}</h4>
            <ul>
                <li>{{ activity.distance }}m</li>
                <li>{{ activity.movingTime }}min</li>
            </ul>
        </li>
    {% endfor %}
</ul>
{% else %}
    <a href="{{ url.to('/api/vendor/strava/authenticate') }}">Authenticate with strava</a>
{% endif %}
